@charset "utf-8";

@import url("top.css");/*상단*/
@import url("bottom.css");/*하단영역*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Secular+One&display=swap');

/*reset*/
a{color:#333333;}
input{outline:none;}
body,input,h1{font:normal 15px/1.5em 'IBM Plex Sans KR', sans-serif;}
*{box-sizing:border-box;}

