@charset "utf-8";

/*1500이상*/
@media all and (min-width:1500px){
    #top{
        width:100%;
        height:auto;
    }

    .menu_wrap{
        width:100%; height: 86px;
        position:fixed;
        z-index:100;
    }
    /*logo*/
    .menu_wrap >h1>a>img{
        float:left;
        margin-left:80px;
        margin-top:25px;
    }

    /*안드로이드, 애플, 인스타그램*/
    .quick{
        height:44px;
        float:right;
        margin-right:102px;
        width:216px;
        margin-top:20px;
    }
    .quick>li{
        float:left;
        height:44px;
        width:44px;
        margin-left:20px;
    }
    .quick li:first-child{
        margin-left:0;
    }
    .quick_menu{
        display:none;
    }
    .quick li>a>img{
        width:44px; height:44px;
    }

    /*추가태그 bg 스크롤시 배경생기게
    .bg{
        position:absolute;
        background-color:#f6c65f;
        z-index:1;
        width:100%; height:84px;
        top:0; left:0;
    }


    /*nav*/
    .nav_wrap_t{
        display:none;
    }
    .nav_wrap{
        float:left;
       z-index:10;
        height:84px;
        margin-left:80px;
    }
    .nav_wrap>ul>li{
        float:left;
        height:84px;
        line-height:84px;
        width:140px;
        text-align:center;
        z-index:10;
    }
    .nav_wrap>ul>li:hover>a{
        color:#f6c65f;
        font-weight:bold;
    }

    .nav_wrap>ul>li:first-child{
        margin-left:0px;
    }

    .nav_wrap>ul>li>a{
        font-weight:bold;
        font-size:20px;
    }

    /*메인메뉴 리스트*/
    .sub{
        display:block;
        box-sizing: border-box;
        width:100%; height:auto;
    }

    .sub>li>a{
        font-weight:bold;
        display:block;
        font-size:14px;
        height:35px;
        line-height:35px;
 
    }
    .sub>li:hover>a{
        color:#f6c65f;
        font-weight:bold;
    }


}


/*721~1499*/
@media all and (min-width:721px) and (max-width:1499px){

    #top{
        width:100%;
    }

    .menu_wrap{
        width:100%; height: 84px;
        position:fixed;
        z-index:1000;
    }
    /*logo*/
    .menu_wrap >h1>a>img{
        float:left;
        margin-left:40px;
        margin-top:25px;
    }
    .menu_wrap>.quick{
        display:none;
    
    }


    /**햄버거버튼*/

    .quick_menu{
       width:40px; height:40px; 
        position:absolute;
        right:25px; top:20px;
       z-index:50;
        }
    .ham2{
        background-color:rgba(255,255,255,0.3);
        width:50px; 
        height:50px;
        font-size:0;
        cursor:pointer; 
        position:relative;
        top:50%; left:50%; transform:translate(-50%,-50%);}

    .ham2 .bar4{
        width:22px; height:4px;     
        display:block; 
        background-color:#121212; 
        border-radius:50px;  
        position:absolute; top:50%; left:35%; 
        transform:translate(-50%,-50%) rotate(0deg); transition:ease 0.2s;
        }


    .ham2 .bar4::before{content:""; background-color:#121212; width:38px; height:4px; display:block; position:absolute; top:-10px; left:0; border-radius:50px; transform-origin:left; transition:ease 0.2s;}

    .ham2 .bar4::after{content:"";width:32px; height:4px; display:block; background-color:#121212; border-radius:50px;  position:absolute; bottom:-10px; right:-10px;}


    .bar4.active2{width:30px; left:50%; top:50%;  transform:translate(-50%,-50%) rotate(135deg);
    }

    .bar4.active2::before{width:30px; left:30px; top:17px; transform:translate(-50%,-50%) rotate(-90deg);}

    .bar4.active2::after{display:none;
    }

/*햄버거아이콘*/ 
/*
    .quick_menu{ 
        cursor:pointer;
        position:absolute;
        right:70px; top:25px;
       z-index:50;
       
    }

    */
    .nav_t>.quick>li>a>img{
        width:40px; height:40px;
    }

    /*안드로이드, 애플, 인스타그램*/

    .quick_t{
        width:auto;
        height:85px;
        border-bottom:2px solid #f6c65f;
    }
    .quick_t> .quick{
        height:40px;
        float:left;
        width:auto;
      
   
    }
    .quick_t> .quick>li{
        background-color:#ffffff;
        border-radius:20px;
        float:left;
        height:40px;
        width:40px;
        margin-top:20px;
        margin-left:30px;
    }
    .quick_t> .quick>li:last-child{
        margin-right:0px;

    }
 

    /*nav*/
    .nav_wrap_t{
        position:fixed;
        background-color:#2c2c2c;
        width:40%;
        height:100%;
        right:-50%;top:0;
    }
    .nav_wrap{
      display:none;
    }


    .nav_t{display:block;
        font-size:20px;

    }
    .nav_t>li>a{
        height:60px;
        display:block;
        font-weight: bold;
       line-height:100px;
        padding-left:30px;
        color:#ffffff;
    }
    .nav_t>li>a:hover{
        color:#f6c65f;
    }

    

    /*메인메뉴 리스트*/

    .sub_t>li>a{
        display:block;
        font-size:16px;
        height:20px;
        line-height:40px;
        box-sizing: border-box;
        margin-left:40px;
        color:#ffffff;
        font-weight:bold;
    }
    .sub_t>li:hover>a{
        color:#f6c65f;
        font-weight:bold;
    }



}

/*720이하*/
@media all and (max-width:720px){
    #top{
        width:100%;
    }

    .menu_wrap{
        width:100%; height: 84px;
        position:fixed;
        z-index:1000;
 
    }
    /*logo*/
    .menu_wrap >h1>a>img{
        float:left;
        margin-left:40px;
        margin-top:30px;
        width:220px; height:24px;
    }

    /*안드로이드, 애플, 인스타그램*/
    .quick{
      display:none;
    }





  /**햄버거버튼*/

  .quick_menu{
    width:40px; height:40px; 
     position:absolute;
     right:25px; top:20px;
    z-index:50;
     }
 .ham2{
     background-color:rgba(255,255,255,0.3);
     width:50px; 
     height:50px;
     font-size:0;
     cursor:pointer; 
     position:relative;
     top:50%; left:50%; transform:translate(-50%,-50%);}

 .ham2 .bar4{
     width:22px; height:4px;     
     display:block; 
     background-color:#121212; 
     border-radius:50px;  
     position:absolute; top:50%; left:35%; 
     transform:translate(-50%,-50%) rotate(0deg); transition:ease 0.2s;
     }


 .ham2 .bar4::before{content:""; background-color:#121212; width:38px; height:4px; display:block; position:absolute; top:-10px; left:0; border-radius:50px; transform-origin:left; transition:ease 0.2s;}

 .ham2 .bar4::after{content:"";width:32px; height:4px; display:block; background-color:#121212; border-radius:50px;  position:absolute; bottom:-10px; right:-10px;}


 .bar4.active2{width:30px; left:50%; top:50%;  transform:translate(-50%,-50%) rotate(135deg);
 }

 .bar4.active2::before{width:30px; left:30px; top:17px; transform:translate(-50%,-50%) rotate(-90deg);}

 .bar4.active2::after{display:none;
 }
 
   
    .quick li>a>img{
        width:40px; height:40px;
    }

    

    /*nav*/
    /*안드로이드, 애플, 인스타그램*/

    .quick_t{
        width:auto;
        height:85px;
        border-bottom:2px solid #f6c65f;
    }
    .quick_t> .quick{
        height:40px;
        float:left;
        width:auto;
      
   
    }
    .quick_t> .quick>li{
        background-color:#ffffff;
        border-radius:20px;
        float:left;
        height:40px;
        width:40px;
        margin-top:20px;
        margin-left:30px;
    }
    .quick_t> .quick>li:last-child{
        margin-right:0px;

    }
 

    /*nav*/
    .nav_wrap_t{
        position:fixed;
        background-color:#2c2c2c;
        width:40%;
        height:100%;
        right:-50%;top:0;
    }
    .nav_wrap{
      display:none;
    }


    .nav_t{display:block;
        font-size:20px;

    }
    .nav_t>li>a{
        height:60px;
        display:block;
        font-weight: bold;
       line-height:100px;
        padding-left:30px;
        color:#ffffff;
    }
    .nav_t>li>a:hover{
        color:#f6c65f;
    }
    .nav_wrap{
      display:none;
    }

    /*메인메뉴 리스트*/

    .sub_t>li>a{
        display:block;
        font-size:16px;
        height:20px;
        line-height:40px;
        box-sizing: border-box;
        margin-left:40px;
        color:#ffffff;
        font-weight:bold;
    }
    .sub_t>li:hover>a{
        color:#f6c65f;
        font-weight:bold;
    }

}